{% extends 'base.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}
    <h1>Media</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ media.id }}</td>
            </tr>
            <tr>
                <th>NomImage</th>
                <td>{{ media.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_media_index') }}">back to list</a>

    <a href="{{ path('app_media_edit', {'id': media.id}) }}">edit</a>

    {{ include('media/_delete_form.html.twig') }}
{% endblock %}
