{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<!-- Header-->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center my-5">
                    <h1 class="display-4 fw-bolder text-white mb-2">SNOWTRICKS</h1>
                    <p class="lead display-6 fw-bolder mb-4">Découvre et partage tes tricks.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="position: relative;">
        <button class="btn btn-lg btn-primary"  onclick="scrollToBottom()" style="position: absolute; bottom: 0; right: 0;">
            <i class="bi bi-arrow-down custom-icon"></i>
        </button>
    </div>
</header>

{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<!-- Features section-->
<section class="py-5 border-bottom" id="features" data-tricks="">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="heading mb-3">Tous les tricks <i class="bi bi-arrow-down"></i></h1>
                <div class="box-container mb-3">
                    {% for trick in trick %}
                    <div class="box col-lg-3">

                        <div class="card-header">  
                            <img class="card-img-top" src="{{ asset('uploads/brochures/' ~ trick.imageUne) }}" alt="Card image cap"> 
                        </div>
                        <div class="card-container">
                            <h3>{{ trick.nom }}
                                <a href="{{ path('app_tricks_edit', {'id': trick.id}) }}"><img src="/image/update.ico"></a>
                                <a href="{{ path('app_tricks_delete', {'id': trick.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ trick.id )}}">
                                    <img src="/image/sup1.ico">
                                </a>
                            </h3>
                            <a class="text-decoration-none" href="{{ path('app_tricks_show', {'id': trick.id}) }}">
                                Voir plus
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>     
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a id="load-more" class="btn btn-outline-success">load more</a>
                </div>
            </div>
        </div>
    </div>
    <div style="position: relative;">
        <button class="btn btn-lg btn-primary"  onclick="scrollToTop()" style="position: absolute; bottom: 0; right: 0;">
            <i class="bi bi-arrow-up custom-icon"></i>
        </button>
    </div>

</section>

{% endblock %}
