{% extends 'base.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
<div class="container">
    <br>
    <h1 class="text-center">Commentaire index</h1>

        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.commentaire }}</td>
                <td>{{ commentaire.date ? commentaire.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_commentaire_show', {'id': commentaire.id}) }}">Voir</a>
                    <a class="btn btn-outline-secondary" href="{{ path('app_commentaire_edit', {'id': commentaire.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-outline-success" href="{{ path('app_commentaire_new') }}">Create new</a>
    </div>
    <br><br>
</div>
{% endblock %}