{{ form_start(form) }}
    <div>
        {{ form_row(form.nom, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <div>
        {{ form_row(form.description, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <div>
        {{ form_row(form.imageUne, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <div>
        {{ form_row(form.image, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <div>
        {{ form_row(form.video, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <div id="a_masquer" style="display:none">
        {{ form_row(form.video2, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <input type="button" value="+" onclick="masquer_div('a_masquer');" />
    <div>
        {{ form_row(form.categorie, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <br>
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
    <br>
    <br>
{{ form_end(form) }}
