{% extends 'base.html.twig' %}

{% block title %}Edit Video{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Video</h1>

        {{ form_start(form) }}
    <div style="display:none">
        {{ form_row(form.nom, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <div style="display:none">
        {{ form_row(form.description, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <div>
        {{ form_row(form.imageUne, {
            'attr':{'class':'form-control'}
        }) }}
    </div>   
    <div style="display:none">
        {{ form_row(form.image, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <div style="display:none">
        {{ form_row(form.video, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <div style="display:none">
        {{ form_row(form.video2, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
        <div style="display:none">
        {{ form_row(form.ajouter, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <div style="display:none">
        {{ form_row(form.modifier, {
            'attr':{'class':'form-control'}
        }) }}
    </div>

    <div style="display:none">
        {{ form_row(form.categorie, {
            'attr':{'class':'form-control'}
        }) }}
    </div>
    <br>
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
    <br>
    <br>
{{ form_end(form) }}

    </div>
{% endblock %}
