{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
<form method="POST" action="{{ path('app_tricks_edit', {'id': trick.id}) }}">

    <div class="container">
        <br>
        <h1 class="text-center">Tricks</h1>
        <br><br>
        <div class="card mb-3">
            {% for media in trick.media %}
                {% if loop.first %}
                    <img class="card-img-top" src="{{ asset('uploads/brochures/' ~ media.image) }}" max-width="350" max-height="350" alt="Card image cap">
                    <div class="card-links">
                        <div class="link-box">
                            <a id="edit-link" href="{{ path('app_media_edit', {'id': media.id}) }}"><img src="/image/update.ico"></a>
                            <a id="delete-link" href="{{ path('app_media_delete', {'id': media.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ media.id )}}"><img src="/image/sup1.ico"></a>
                                                    {{ include('media/_delete_form.html.twig') }}

                        </div>
                    </div>
                {% endif %}
            <div class="card-links">
                <div class="link-box">
                    {# <a id="edit-link" href="{{ path('app_tricks_editImage', {'id': trick.id}) }}"><img src="/image/update.ico"></a>
                    <a id="delete-link" href="{{ path('app_tricks_delete', {'id': trick.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ trick.id )}}"><img src="/image/sup1.ico"></a> #}
                </div>
            </div>
            {% endfor %}
            <div class="card-img-overlay">
                <h1 class="card-title text-center" id="titre">
                {{ form_row(form.nom, {
                'attr':{'class':'form-control'}
            }) }}
                
                </h1>
            </div>
        </div>
        <div class="content">
            <div class="row">
                {% for media in trick.media %}
                <div class="col-md">
                    <div class="card">
                        <img src="{{ asset('/uploads/brochures/' ~ media.image) }}" alt="" class="media-item card-img-top">
                        <div class="card-body">
                            <a  id="add" href="{{ path('app_media_edit', {'id': media.id}) }}"><img src="/image/update.ico"></a>
                            <a>{{ include('media/_delete_form.html.twig') }}</a>
                            {{ include('media/_delete_form.html.twig') }}

                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for video in trick.videos %}  
                <div class="col-md">
                    <div class="card">
                        <div class="card-body">
                            <iframe src="{{ video.video1 }}" class="video-item card-img-top" frameborder="0" allowfullscreen=""></iframe>
                            <div class="card-body">
                                <a  id="add" href="{{ path('app_video_edit', {'id': video.id}) }}"><img src="/image/update.ico"></a>
                                <a id="add" href="{{ path('app_video_delete', {'id': video.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ video.id )}}" align="right" no-repeat><img src="/image/sup1.ico"></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button id="voir-plus" class="btn btn-outline-secondary">Voir plus</button>
        <br><br> 
        <div>
            <p class="card-text"><small class="text-muted">{{ form_row(form.description, {
                'attr':{'class':'form-control'}
            }) }}</small></p>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3 mb-3">
                <p class="card-text"><small class="text-muted">{{ form_row(form.categorie, {
                    'attr':{'class':'form-control'}
                }) }}</small></p>
            </div>
        </div> 
        <div class="row justify-content-center">         
            <div class="col-sm-1 mb-3">
                {{ include('tricks/_delete_form.html.twig') }}

            <div class="col-sm-1 mb-3">
                <button class="btn btn-outline-success" type="submit" href="{{ path('app_tricks_edit', {'id': trick.id}) }}">{{ button_label|default('Enregistrer') }}</button>
            </div>
        </div>
        <br>
    </div>
    </form>
{% endblock %}