{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1 class="text-center">Tricks</h1>
        <br><br>
        <div class="card mb-3">
 
        {% for media in trick.media %}
            {% if loop.first %}
                <img class="card-img-top" src="{{ asset('uploads/brochures/' ~ media.image) }}" max-width="350" max-height="350" alt="Card image cap">
                {% if is_granted('ROLE_USER') %}
                <div class="card-links">
                    <div class="link-box">
                        <a id="edit-link" href="{{ path('app_media_edit', {'id': media.id}) }}"><img src="/image/update.ico"></a>
                        <a id="delete-link" href="{{ path('app_media_delete', {'id': media.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ media.id )}}"><img src="/image/sup1.ico"></a>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
            <div class="card-img-overlay">
                <h1 class="card-title text-center" id="titre">{{ trick.nom }}</h1>
            </div>
        </div>
        <div class="content">
            <div class="row">
            {% for media in trick.media %}
                <div class="col-md">
                    <div class="card">
                        <img src="{{ asset('/uploads/brochures/' ~ media.image) }}" alt="" class="media-item card-img-top taille" >
                        {% if is_granted('ROLE_USER') %}
                        <div class="card-body">
                            <a  id="add" href="{{ path('app_media_edit', {'id': media.id}) }}"><img src="/image/update.ico"></a>
                            <a id="add" href="{{ path('app_media_delete', {'id': media.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ media.id )}}" align="right" no-repeat><img src="/image/sup1.ico"></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% for video in trick.videos %}  
                <div class="col-md">
                    <div class="card">
                        <iframe src="{{ video.video1 }}" class="video-item card-img-top" frameborder="0" allowfullscreen=""></iframe>
                        {% if is_granted('ROLE_USER') %}
                        <div class="card-body">
                            <a  id="add" href="{{ path('app_video_edit', {'id': video.id}) }}"><img src="/image/update.ico"></a>
                            <a id="add" href=" {{ path('app_video_delete', {'id': video.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ video.id )}}" align="right" no-repeat><img src="/image/sup1.ico"></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <button id="voir-plus" class="btn btn-outline-secondary">Voir plus</button>
        <br><br>
        <div>
            <p class="card-text-center">{{ trick.description }}</p>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-3 mb-3">
                <p class="card-text"><small class="text-muted">{{ trick.categorie }}</small></p>
            </div>
            <div class="col-3 mb-3">
                <p class="card-text"><small class="text-muted">Créer le : {{ trick.ajouter ? trick.ajouter|date('d-m-y H:i:s') : ''}}</small></p>
            </div>
            {% if trick.modifier %}
            <div class="col-3 mb-3">
                <p class="card-text"><small class="text-muted">Modifier le : {{ trick.modifier ? trick.modifier|date('d-m-y H:i:s') : ''}}</small></p>
            </div>
            {% endif %} 
        </div>
        <br>
        <hr>
        <br>
        <div class="container" id="commentaires-container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ trick.commentaires | length }} Commentaires :</h1>
                </div>
            </div>
            <br>
            {% for commentaire in trick.commentaires %}
                <!-- Ajoutez l'attribut data-index et la classe "commentaire" -->
                <div class="row commentaire" data-index="{{ loop.index }}">
                    <div class="col-md-12 box" style="border: 1px solid #000;">
                        <h6>Ecrit par : {{commentaire.idUser.Nom}} {{commentaire.idUser.Prenom}} - Le : {{ commentaire.date ? commentaire.date|date('d-m-y H:i:s') : ''}}</h6>
                        <p>{{commentaire.commentaire | raw}}</p>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <div class="container">
                <a class="btn btn-outline-secondary" id="load-more">Load more</a>
            </div>
        </div>
        <br>
        {% if is_granted('ROLE_USER') %}

        <div class="container">
            {{ form_start(form) }}
            <div class="commentaire">
                <h1>
                    {{ form_row(form.commentaire, {
                        'attr': {'class': 'form-control custom-border'},
                        'label': 'Ajouter votre commentaire'
                    }) }}
                </h1>
                <br>
            </div>  
            <br>
            <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
            <br>
            {{ form_end(form) }}
        </div>
        {% endif %}
    </div>
{% endblock %}
